.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    display: none;
    cursor: pointer;
    span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: black;
        transform: translate(-50%, -50%);
        &:nth-child(1) {
            top: calc(50% - 5px);
        }
        &:nth-child(2) {
            top: calc(50% + 5px);
        }
    }
}
