footer {
    background: $linkCLR;
}
.footer-row {
    padding: 80px 0 56px 0;
    display: flex;
    justify-content: space-between;
}
.first-footer-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
   
    img {
        max-width: 66.9px;
        max-height: 66px;
    }
}
.store {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: $white;
    opacity: 0.6;
    max-width: 261px;
}
.second-footer-content {
    display: flex;
    gap: 31px;
    ul {
        li {
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            color: $white;
            opacity: 0.6;
            padding-bottom: 15px;
            width: 165px;
            cursor: pointer;
            transition: all ease-in-out .5s;
            &:hover {
                opacity: 1;
            }
            &:first-child {
                cursor: default;
                color: $white;
                opacity: 1;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 26px;
            }
        }
    }
}
.third-content-footer {
    display: flex;
    flex-direction: column;
    .store {
        padding-bottom: 14px;
    }
}
.white-store {
    padding-bottom: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $white;
}
.socials {
    display: flex;
    gap: 25px;
    padding-bottom: 52.75px;
    img {
        transition: all ease-in-out .5s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.url {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: $white;
    padding-bottom: 16px;
}
.lang {
    display: flex;
    gap: 9.26px;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
        position: relative;
        &::after {
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            display: inline-block;
            width: 5px;
            height: 5px;
            border-top: 1px solid white;
            border-right: 1px solid white;
            top: 8px;
            opacity: 0.7;
            cursor: pointer;
            right: -16px;
            transform: rotate(135deg);
        }
    }
}